body,
html {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.left {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 30%;

  background-color: rgba($color: #0000004d, $alpha: 0.9);

  .location {
    font-size: 3rem;
  }
}

.ImageDisplay {
  display: flex;
  align-items: end;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.right {
  color: white;
  display: flex;
  gap: 1rem;
  height: 30%;
  width: 100%;
  bottom: 0;
  transition: 1000ms;

  .forecastDiv {
    margin: 1rem;

    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    font-size: 2rem;
    transition: ease-in-out transform 2000ms, height 2000ms, width 1000ms;

    background-color: rgba($color: #000000, $alpha: 0.8);
    &:hover {
      transform: translateY(-580px);

      height: 320%;
      width: 100%;
      background-color: rgba($color: #000000, $alpha: 1);
    }

    #forecastDescription {
      font-size: 1.2rem;
    }

    #Icon {
      display: flex;

      height: 100%;
      width: 100%;
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      filter: invert(100%) sepia(1%) saturate(721%) hue-rotate(268deg)
        brightness(119%) contrast(100%);
    }
  }
}

.Animate {
  transform: translateY(-580px);

  height: 320%;
  width: 450%;
  background-color: rgba($color: #000000, $alpha: 1);
}
