:root {
  --pos: 2;
  --Vis: 0;
}

body,
html {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.left {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 30%;

  background-color: rgba($color: #0000004d, $alpha: 0.9);

  .location {
    font-size: 3rem;
  }
}

.ImageDisplay {
  display: flex;
  align-items: end;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.right {
  color: white;
  display: flex;
  gap: 1rem;
  height: 30%;
  width: 100%;
  bottom: 0;
  transition: 1000ms;

  .forecastDiv {
    margin: 1rem;

    border-radius: 200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
    width: 30%;
    font-size: 2rem;
    transition: ease-in-out border-radius 1300ms, transform 1300ms,
      height 1000ms, width 500ms;

    background-color: rgba($color: #000000, $alpha: 0.8);
    &:hover {
      border-radius: 100px;
      transform: translateY(-580px);

      height: 320%;
      width: 100%;
      background-color: rgba($color: #000000, $alpha: 1);
      --pos: 1;
      --Vis: 1;
    }
    #dayDiv {
      text-align: center;
      grid-column: 2;
      grid-row: var(--pos);
    }

    #currentTemp {
      grid-column: 2;
      grid-row: 5;
      text-align: center;
    }

    #lowest {
      grid-column: 1;
      grid-row: 5;
      opacity: var(--Vis);
      transition: 3000ms;
    }

    #highest {
      opacity: var(--Vis);
      grid-column: 3;
      grid-row: 5;
      transition: 2000ms;
    }

    #forecastDescription {
      font-size: 1.2rem;
      grid-column: 2;
      grid-row: 4;
      text-align: center;
    }

    #Icon {
      display: flex;

      height: 100%;
      width: 100%;
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      grid-column: 2;
      grid-row: 3;
      filter: invert(100%) sepia(1%) saturate(721%) hue-rotate(268deg)
        brightness(119%) contrast(100%);
    }
  }
}
