body {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.displayContainer {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 30%;
  background-color: rgba($color: #000000, $alpha: 0.9);

  .location {
    font-size: 3rem;
  }
}
